/* Global */
/* Globals */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
/* Bootstrap overrides */
.progress {
  border-radius: 0px;
  height: 30px;
  margin-bottom: 5px; }
  .progress .progress-bar {
    line-height: 30px; }

body {
  font-family: Open Sans, Arial, Tahoma;
  font-weight: 400;
  font-size: 1em;
  color: #363636;
  background: #ededed; }

h2 {
  color: #2196f3;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase; }
  h2:before {
    content: '//';
    margin-right: 5px; }

h3 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 700; }

h4 {
  color: #0d47a1;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase; }

.container {
  margin-top: 80px;
  margin-bottom: 15px;
  background: white; }

#photo-header {
  margin-top: -75px; }

#photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: #ededed;
  display: inline-block; }
  #photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%; }

#text-header h1 {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px; }
  #text-header h1 span {
    color: #0d47a1; }
  #text-header h1 sup {
    opacity: 0.5; }
#text-header h1::first-line {
  font-size: 1.5em;
  letter-spacing: -4px;
  font-weight: 800;
  line-height: 1.5em; }
#text-header:after {
  width: 100%;
  height: 1px;
  background-color: #363636;
  margin-top: 15px;
  content: '';
  display: block; }

.box {
  margin-bottom: 15px; }
  .box p {
    font-size: 1.3em;
    line-height: 1.5em; }

#timeline {
  margin-top: 20px;
  position: relative;
  padding: 1em 0;
  list-style: none; }
  #timeline:before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 25px;
    top: 0;
    content: ' ';
    display: block;
    background: linear-gradient(to bottom, white 0, #2196f3 7%, #2196f3 89%, white 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$white', endcolorstr='$white',gradienttype=0 ); }
  #timeline li {
    width: 100%;
    z-index: 2;
    position: relative;
    float: left; }
  #timeline .year {
    width: 10%;
    background: white;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block; }
  #timeline .description {
    width: 80%;
    display: inline-block;
    background: #ededed;
    margin-bottom: 10px;
    position: relative;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #dddddd; }
    #timeline .description:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 0;
      left: -16px;
      height: 0;
      width: 0;
      border: solid transparent;
      border-right-color: #ededed;
      border-width: 8px;
      pointer-events: none; }
    #timeline .description p {
      font-size: 1.3em;
      margin-top: 5px;
      padding: 0; }

.project {
  margin-bottom: 15px; }
  .project .date {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    opacity: 0.7; }
  .project .title {
    font-size: 1.6em;
    font-weight: bold; }
  .project .description {
    font-size: 1.2em;
    line-height: 1.5em; }

.contact-item {
  width: 100%; }
  .contact-item .icon {
    padding: 10px;
    /*border-right: .5px solid $color_silver_chalice_approx;
    border-bottom: .5px solid $color_silver_chalice_approx;*/
    opacity: 0.9;
    color: #363636; }
  .contact-item .fa {
    font-size: 2em; }
  .contact-item .title {
    width: calc(100% - 55px);
    font-size: 1.5em;
    font-weight: 700;
    opacity: 0.9; }
    .contact-item .title.only {
      margin-top: 10px; }
  .contact-item .description {
    width: calc(100% - 55px);
    font-size: 1.2em;
    opacity: 0.7; }
  .contact-item:last-child .icon {
    border-bottom: none; }

.tag {
  color: white;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 25px;
  background: #363636;
  position: relative;
  font-size: 1.2em;
  border-radius: 5px; }
  .tag:before {
    content: "\f1b9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 6px;
    left: 7px; }
